body {
    padding-top: 70px;
}
textarea{
    resize: none;
}
.friend-profile-miniature{
    background-color: aliceblue;
    height: 100px;
    position: relative;
}
.user-profile-friend-button--sent{

}
