body {
    padding-top: 70px;
}
textarea{
    resize: none;
}
.friend-profile-miniature{
    background-color: aliceblue;
    height: 100px;
    position: relative;
}
.send-message-form{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 10%;
    background-color: white;

}
.main_container{
    height: 85vh;
}
.conversation{
    height: 75%;
    overflow:scroll;
}
.notifications-dropdown{
    min-width: 250px;
    max-height:300px;
    overflow-y:auto;
    overflow-x:hidden;
}
.panel-heading,.panel-footer{
    height: 35px;
    padding-top: 0;
    padding-right: 0;
}
.notification-unread{
    background-color: rgba(0,0,0,0.3)
}
.upvote{
    background-color: mediumspringgreen !important;
}
.downvote{
    background-color: indianred !important;
}
.alertModal{
    height: 100vh;
}
.post-container{
    margin-bottom: 0;
    margin-top: 15px;
}
.comments-wrapper{

    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
}
.comments-container{
    max-height: 300px;
    overflow-y:auto;
    overflow-x:hidden;
}
.comment{
    min-height: 50px;
    border-radius: 15px;
    border: solid silver 1px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
}
.comment-container{
    background-color: #0000C2;
    height: 90%;
}
.comment-profile-picture{
    text-align: right;
    margin-top: 1.5px;
}